html {
  background: url(/CR.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  font-size: 19px;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 30px;
  margin: 0;
  padding: 0;
  animation: intro 2s;
  top: 0;
  left: 0;
}

li {
  list-style-type: none;
}

h1.name {
  font-size: 3em;
  font-weight: bold;
  color: rgb(53, 211, 156);
}


a {
  text-decoration: none;
}

a:hover {
  color: aquamarine !important;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}


.header {
  margin-top: 15px;
}

.header > img {
  height: 250px;
}

ul.reset {
  padding-left: 0px;
}

ul.reset > li > a {
  color: rgb(40, 40, 40);
}

@keyframes intro {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1;
  }
}

.overlay {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 300px;
  border-radius: 5px;
}