body {
  font-size: 19px;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 30px;
  margin: 0;
  padding: 0;
  animation: intro 3s;
  top: 0;
  left: 0;
  background-color: rgb(50, 50, 50);
  background-size: cover;
  height: 100vh;
  /* backdrop-filter: blur(10px); */
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
}

li {
  list-style-type: none;
}

h1.name {
  font-size: 3em;
  font-weight: bold;
  color: rgb(53, 211, 156);
}


a {
  text-decoration: none;
}

a:hover {
  color: aquamarine !important;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}


.header {
  margin-top: 15px;
}

.header > img {
  height: 250px;
  border-radius: 10px;
}

ul.reset {
  padding-left: 0px;
}

ul.reset > li > a {
  color: rgb(40, 40, 40);
}

@keyframes intro {
  from {
    opacity: 0.0;
    backdrop-filter: blur(1px);
  }
  to {
    opacity: 1;
    backdrop-filter: blur(10px);
  }
}

.overlay {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 250px;
  border-radius: 5px;
  margin-top: 50px;
}

footer {
  color:white;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}